###### config reader test file ######
# use this command line to properly test this:
#
# ./conftest test=1 test2=71.837486 test2=2 test3="jack danials" --doit
#
# You should get a warning about problems reading dummyfile, and 10
# variables listed. "test" should be 2 overridden by the command line.
# You can test the ability to override the config file name with the 
# command:
#
# ./conftest configfile=dummy
#
# It should complain about problems reading dummy, and no variables 
# should be populated.
#

fileversion			version 1.0
hashtest				\#surrounded\# \#by\# \#hashes\#
test					nonsense # should be overridden by commmand line
test					duh! # what happens here?
\#starthash			should start with hash (\#) symbol
test					21 # should only be seen in getall<int>();
test3				Working line.

*INCLUDE dummyfile
#*INCLUDE ../../salesman/tests/bc_bench.config
lastline				this should be complete
