[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to Boost Filesystem Library
Type=Link
URL=http://gabbie/docs/boost.old/libs/filesystem/doc/index.htm
Icon=gnome-fs-bookmark
