[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to CodeProject: DynObj - C++ Cross Platform Plugin Objects. Free source code and programming help
Type=Link
URL=http://www.codeproject.com/KB/library/dynobj.aspx
Icon=gnome-fs-bookmark
